.projects-section {
  background-color: #111;
  color: #fff;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  border-bottom: 3px solid #7a2fff;
  display: inline-block;
  padding-bottom: 5px;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}
.project-card {
  background-color: #1a1a1a;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 15px;
  overflow: hidden;
}

.project-card:hover {
  transform: scale(1.03);
  background-color: #222;
  box-shadow: 0 0 15px rgba(122, 47, 255, 0.5);
}
.project-card:hover .card-title {
  color: #ccc;
}
.project-card:hover .card-text {
  color: #ccc;
}

.project-card .card-title {
  color: #111;
  font-size: 1.2rem;
  font-weight: 600;
}

.project-card .card-text {
  color: #111;
}

.project-link {
  text-decoration: none;
}
